@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Poppins:wght@400;600&display=swap");
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  list-style: none;
  scroll-behavior: smooth;
}
.Container1 h2 {
  font-size: 32px;
  text-align: center;
  color: black;
  font: 600;
}
.Container1 .Box1 {
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.Container1 .Box1 .Profile img {
  padding: 20px;
  height: 96px;
  width: 96px;
  border-radius: 100%;
}
.Container1 .Box1 h2 {
  font-size: 28px;
  margin-top: auto 20px;
  font: 400;
  color: black;
  text-align: center;
}
.Container1 .Box1 h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
.Container1 .Box1 p {
  font: 400;
  font-weight: normal;
  padding: 20px;
  margin-top: 10px;
  justify-content: center;
  font-size: 20px;
}
.Container1 .Box1 .Decoration img {
  margin-bottom: 5px;
  padding: 7px;
  width: 64px;
  height: 64px;
  justify-content: center;
}
.Container2 .Box2 {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.Container2 .Box2 button {
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 28px;
  border: 0;
  width: 400px;
  height: 68px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
}
.Container2 .Box2 button a {
  list-style: none;
  text-decoration: none;
}
.Container2 .Box2 button a h2 {
  letter-spacing: -3%;
  font-weight: 600;
  font-size: 20px;
  text-align: start;
}
.Container3 .Box3 {
  width: 500px;
  height: 500px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
  color: black;
}
.Container3 .Box3 li {
  padding: 10px;
  margin: 20px 0;
}
.Container3 .Box3 li h3 {
  font: 400;
  font-weight: normal;
  margin: 20px;
  display: flex;
  align-items: flex-end;
}
.Container3 .Box3 li .bar {
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 10px;
  background: #c4c4c4;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}
.Container3 .Box3 li .bar span {
  height: 10px;
  float: left;
  border-radius: 10px;
}
.HTML {
  width: 75%;
  background: #6100ff;
  animation: html 8s;
}
.UIUX {
  width: 30%;
  background: #ff00d6;
  animation: uiux 8s;
}
.Js {
  width: 5%;
  background: #002cff;
  animation: js 8s;
}
.CPP {
  width: 5%;
  background: #f00;
  animation: cpp 8s;
}
footer {
  text-align: center;
  font-weight: 600;
  letter-spacing: -3%;
  font: 36px;
  line-height: 54px;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes uiux {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}
@keyframes cpp {
  0% {
    width: 0%;
  }
  100% {
    width: 5%;
  }
}
@keyframes Slide_Up {
  from {
    transform: translateY(250px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .Container1 h2 {
    font-size: 20px;
  }
  .Container1 .Box1 {
    justify-content: center;
    align-items: center;
    height: 372px;
    width: 330px;
  }
  .Container1 .Box1 .Profile img {
    height: 64px;
    width: 64px;
    justify-content: center;
  }
  .Container1 .Box1 h2 {
    padding: 0px;
  }
  .Container1 .Box1 h4 {
    font-size: 12px;
  }
  .Container1 .Box1 p {
    padding: 5px;
  }
  .Container1 .Box1 .Decoration img {
    width: 32px;
    height: 32px;
    padding-top: 10px;
  }
  .Container2 h2 {
    font-size: 20px;
  }
  .Container1 .Box1 h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -3%;
  }
  .Container1 .Box1 p {
    margin: 15px;
    font-size: 12px;
    letter-spacing: 2%;
    line-height: 18px;
  }
  .Container2 .Box2 {
    height: 330px;
    width: 330px;
  }
  .Container2 .Box2 button {
    margin-top: 10px;
    background-color: white;
    width: 200px;
    height: 47.85px;
    border-radius: 5px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  }
  .Container3 h2 {
    margin-top: 20px;
    font-size: 20px;
  }
  .Container2 .Box2 button a h2 {
    font-size: 13px;
  }
  .Container3 .Box3 {
    margin-top: 10px;
    height: 330px;
    width: 330px;
  }
  .Container3 .Box3 li {
    padding: 8px;
    margin: auto 20px;
    letter-spacing: 0.02em;
    line-height: 18px;
  }
  .Container3 .Box3 li .bar {
    width: 220px;
    height: 5px;
    border-radius: 10px;
  }
  .Container3 .Box3 li h3 {
    display: flex;
    line-height: 18px;
    font-size: 12px;
  }
  .Container3 .Box3 li .bar span {
    height: 5px;
    float: left;
  }
}
