@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Poppins:wght@400;600&display=swap");
body {
  background-color: white;
  padding: 0;
  margin: 20px;
  font-family: "Poppins";
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Container1 h2 {
  font-size: 32px;
  text-align: center;
  color: black;
  font: 600;
}
.Container1 .Box1 {
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.Container1 .Box1 h2 {
  margin-top: auto 20px;
  font: 400;
  color: black;
  text-align: center;
}
.Container1 .Box1 p {
  margin-top: 300px;
  justify-content: center;
}
.Container2 .Box2 {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.Container2 .Box2 button {
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin: 28px;
  border: 0;
  width: 400px;
  height: 68px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
}
.Container2 .Box2 button a {
  list-style: none;
  text-decoration: none;
}
.Container2 .Box2 button a h2 {
  letter-spacing: -3%;
  font-weight: 600;
  font-size: 20px;
  text-align: start;
}
.Container3 .Box3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 500px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
}
footer {
  text-align: center;
  font-weight: 600;
  letter-spacing: -3%;
  font: 36px;
  line-height: 54px;
}
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .Container1 .Box1 {
    justify-content: center;
    align-items: center;
    height: 372px;
    width: 330px;
  }
  .Container1 .Box1 h2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -3%;
  }
  .Container1 .Box1 p {
    margin: 15px;
    font-size: 12px;
    letter-spacing: 2%;
    line-height: 18px;
  }
  .Container2 .Box2 {
    height: 330px;
    width: 330px;
  }
  .Container2 .Box2 button {
    margin-top: 13px;
    background-color: white;
    width: 200px;
    height: 47.85px;
    border-radius: 5px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  }
  .Container2 .Box2 button a h2 {
    font-size: 13px;
  }
  .Container3 .Box3 {
    height: 330px;
    width: 330px;
  }
}
