@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Poppins:wght@400;600&display=swap");
body {
  background-color: white;
  padding: 0;
  margin: 20px;
  font-family: "Poppins";
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Container1 h2 {
  text-align: center;
  color: black;
  font: 600;
}
.Container1 .Box1 {
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.Container1 .Box1 h2 {
  margin-top: auto 20px;
  font: 400;
  color: black;
  text-align: center;
}
.Container2 .Box2 {
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.Container2 .Box2 button {
  border: 0;
  width: 400px;
  height: 68px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
.Container2 .Box2 button a {
  list-style: none;
  text-decoration: none;
}
.Container3 .Box3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 500px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
}
@media (max-wdith: 600px) {
  body {
    margin: 20px;
    padding: 20px;
  }
  .Container1 .Box1 {
    height: 372px;
    width: 330px;
  }
  .Container2 .Box2 {
    height: 330px;
    width: 330px;
  }
}
